---
BasedOnStyle: Chromium
IndentWidth: 4
ColumnLimit: 0

IncludeCategories:
  - Regex:           '<.*>'
    Priority:        5
  - Regex:           '^"bpf_maps'
    Priority:        20
  - Regex:           '.*'
    Priority:        10
